chatbox {
	z-index: 100;
	flex-direction: column;
	width: 100%;
	font-family: Poxel-Font;
	font-size: 18px;
	justify-content: flex-end;
	justify-items: flex-end;
	pointer-events: none;


	textentry {
		opacity: 0.4;
		color: white;
		padding: 15px 20px 15px 20px;
		margin-top: 5px;
		font-size: 18px;
		flex-shrink: 0;
		flex-grow: 0;
		width: 100%;
		background-color: #1f1c2b;
		border-radius: 0px 0px 20px 20px;
	}

	.chat_canvas {
		flex-direction: column;
		justify-content: flex-start;
		overflow: scroll;
	}

	&.open {
		textentry {
			opacity: 1;
		}
	}
}

chatentry {
	margin-bottom: 5px;
	color: white;
	opacity: 1;
	min-height: 26px;
	flex-shrink: 0;
	flex-grow: 0;
	padding: 3px 20px 3px 20px;
	max-width: 100%;

	.name {
		padding-right: 10px;
		font-weight: 600;
		font-size: 18px;
		color: #c0fb2e;
		flex-shrink: 0;
	}

	.message {
		color: #ccc;
		font-size: 18px;
		flex-grow: 1;
	}

	&.noname .name {
		display: none;
	}

}