RootPanel {
    display: flex;
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    pointer-events: all;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;

    .sidebar {
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        width: 690px;
        justify-content: center;
        position: relative;

        .title {
            flex-grow: 0;
            flex-shrink: 0;
            aspect-ratio: 5;
            justify-content: center;
            align-items: center;

            label {
                font-family: poxel-font;
                font-size: 100px;
                color: white;
            }

        }

        .patterns {
            flex-direction: row;
            flex-grow: 1;
            flex-shrink: 1;
            border: 5px solid white;
            border-radius: 30px 30px 0px 0px;
        }

        .chat {
            flex-direction: row;
            flex-grow: 0;
            flex-shrink: 1;
            height: 40%;
            border: 5px solid white;
            border-top: 0px;
            border-radius: 0px 0px 30px 30px;
        }
    }

    .tools {
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
        width: 150px;
        justify-content: space-around;
        align-items: center;
        padding: 200px 0px 200px 0px;

        .buttons {
            cursor: pointer;
            color: white;
            border: 2px solid white;
            padding: 5px 3px 10px 5px;
            border-radius: 15px;
            width: 100px;
            margin: 30px 10px 0px 10px;
            justify-content: center;
            text-align: center;
            mix-blend-mode: color;

            label {
                font-size: 40px;
                font-family: Arial;
                font-weight: 700;
                color: white;
            }

            &:hover {
                background-color: gray;
                color: white;
            }

            &.active, &:active {
                background-color: #0094ffaa;
                color: white;
            }

            &.settings {
                background-color: none;
            }
        }
    }

    .grid {
        flex-grow: 0;
        flex-shrink: 1;
        aspect-ratio: 1;
        width: 100%;
        align-self: center;
        background-color: gray;

        .cell {
            background-color: none;
            aspect-ratio: 1;
            width: 1.5%;
            position: absolute;
            left: 0px;
            top: 0px;
        }

    }

}
