RootPanel {
    display: flex;
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #151515;
    pointer-events: all;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;
    padding: 0px 50px 0px 50px;

    .sidebar {
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        width: 660px;
        justify-content: center;
        position: relative;

        .title {
            aspect-ratio: 5;
            justify-content: center;
            align-items: center;

            label {
                font-family: poxel-font;
                font-size: 100px;
                color: white;
            }
        }

        .patterns {
            flex-direction: column;
            height: 500px;
            border: 3px solid white;
            justify-content: flex-start;
            border-radius: 20px 20px 0px 0px;

            .patternstitle {
                width: 100%;
                flex-shrink: 0;
                padding: 5px 0px 5px 0px;
                border-bottom: 2px solid white;
                justify-content: center;
                background-color: #1f1c2b;
                border-radius: 20px 20px 0px 0px;

                label {
                    font-family: poxel-font;
                    font-size: 40px;
                    color: white;
                }
            }

            .patterncontainer {
                align-self: center;
                justify-content: center;
                flex-wrap: wrap;
                overflow: scroll;
                margin: 5px;

                .pattern {
                    height: 150px;
                    width: 180px;
                    margin: 10px;
                    border: 3px solid white;
                    border-radius: 20px;
                    align-items: flex-end;

                    .name {
                        height: 35px;
                        width: 100%;
                        background-color: #1f1c2b;
                        border-top: 2px solid white;
                        border-radius: 0px 0px 20px 20px;
                        justify-content: center;
                        align-items: center;

                        label {
                            font-family: poxel-font;
                            font-size: 20px;
                            color: white;
                        }
                    }
                }
            }
        }

        .chat {
            flex-direction: row;
            flex-grow: 0;
            flex-shrink: 1;
            height: 40%;
            border: 3px solid white;
            border-top: 0px;
            border-radius: 0px 0px 20px 20px;
        }
    }

    .tools {
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
        width: 150px;
        justify-content: space-around;
        align-items: center;
        padding: 200px 0px 200px 0px;

        .buttons {
            cursor: pointer;
            color: white;
            border: 2px solid white;
            padding: 5px 3px 10px 5px;
            border-radius: 15px;
            width: 100px;
            margin: 30px 10px 0px 10px;
            justify-content: center;
            text-align: center;
            mix-blend-mode: color;

            label {
                font-size: 40px;
                font-family: Arial;
                font-weight: 700;
                color: white;
            }

            &:hover {
                background-color: #301B3F;
                color: white;
            }

            &.active, &:active {
                background-color: #3C415C;
                color: white;
            }

            &.settings {
                background-color: none;
            }
        }
    }

    .grid {
        flex-grow: 0;
        flex-shrink: 0;
        aspect-ratio: 1;
        height: 90%;
        align-self: center;
        background-color: #B4A5A5;
        border: 3px solid white;

        .cell {
            background-color: none;
            width: 13%;
            aspect-ratio: 1;
            left: 0px;
            top: 0px;
        }
    }
}
